<div>
    <h2 translate="jhipsterApp.endereco.home.title">Enderecos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="endereco.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="jhipsterApp.endereco.home.createLabel">Create new Endereco
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logradouro"><span translate="jhipsterApp.endereco.logradouro">Logradouro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pessoa.nome"><span translate="jhipsterApp.endereco.pessoa">pessoa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="endereco in enderecos track by endereco.id">
                    <td><a ui-sref="endereco.detail({id:endereco.id})">{{endereco.id}}</a></td>
                    <td>{{endereco.logradouro}}</td>
                    <td>
                        <a ui-sref="pessoa.detail({id:endereco.pessoa.id})">{{endereco.pessoa.nome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="endereco.detail({id:endereco.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="endereco.edit({id:endereco.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="endereco.delete({id:endereco.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
