
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEnderecoLabel" translate="jhipsterApp.endereco.home.createOrEditLabel">Create or edit a Endereco</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="endereco.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.endereco.logradouro" for="field_logradouro">Logradouro</label>
            <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                    ng-model="endereco.logradouro"
                     />
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.endereco.pessoa" for="field_pessoa">pessoa</label>
            <select class="form-control" id="field_pessoa" name="pessoa" ng-model="endereco.pessoa" ng-options="pessoa as pessoa.nome for pessoa in pessoas track by pessoa.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
