
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPessoaLabel" translate="jhipsterApp.pessoa.home.createOrEditLabel">Create or edit a Pessoa</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pessoa.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.pessoa.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="pessoa.nome"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.pessoa.sexo" for="field_sexo">Sexo</label>
            <select class="form-control" name="sexo" ng-model="pessoa.sexo" id="field_sexo">
                <option value="M" translate="jhipsterApp.SexoEnum.M">M</option>
                <option value="F" translate="jhipsterApp.SexoEnum.F">F</option>
                <option value="T" translate="jhipsterApp.SexoEnum.T">T</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
